@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #171717;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-inter: var(--font-inter);
  --font-jetbrains: var(--font-jetbrains);
  --font-sora: var(--font-sora);
}

@layer base {
  body {
    @apply bg-background text-foreground font-inter;
  }
}
